@charset "UTF-8";
:root {
  --primary-color: #757575;
  /*MAIN COLOR nav-address, text*/
  --secondary-color: #212121;
  /*nav-link, section titles*/
  --accent-color: #2196F3;
  /*accent*/
  --bg-color: #FFFFFF;
  /*bg, hero-title, team-item, footer post address, logo-studio in footer*/
  --transition-data: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  fill: inherit;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--bg-color);
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__text {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-data), visibility var(--transition-data);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: translate var(--transition-data) scale var(--transition-data);
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 528px;
  padding: 40px;
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-container {
  position: relative;
  display: block;
}
.modal-form-input-container .modal-form-label-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-data);
}
.modal-form-input :hover,
.modal-form-input :focus {
  outline: none;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--secondary-color);
  transition: fill var(--transition-data);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-textarea-field {
  margin-bottom: 20px;
}

.modal-form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-data);
}
.modal-form-textarea:hover, .modal-form-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-rules-label {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-form-icon-checkbox {
  fill: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 7px;
  transition: border var(--transition-data), fill var(--transition-data);
}

.modal-form-rules-checkbox:focus + .modal-form-icon-checkbox {
  border: 1px solid var(--accent-color);
}

.modal-form-rules-checkbox:checked + .modal-form-icon-checkbox {
  fill: var(--accent-color);
  border: none;
}

.modal-form-rules-link {
  color: var(--accent-color);
}

.modal-form-send-btn {
  min-width: 200px;
  align-self: center;
  padding: 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  transition: background-color var(--transition-data), box-shadow var(--transition-data);
}
.modal-form-send-btn:hover, .modal-form-send-btn:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop.is-hidden .modal {
  transform: translate(-30%, -30%) scale(0.7);
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  cursor: pointer;
}

.modal-close-btn-icon {
  transition: fill var(--transition-data);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container,
.header__nav {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  margin-left: 93px;
}

.contacts__contaсt-item:not(:last-child) {
  margin-right: 50px;
}

.menu-list__item + .menu-list__item {
  margin-left: 50px;
}

.menu-list__link {
  padding: 32px 0;
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__link:hover, .menu-list__link:focus {
  color: var(--accent-color);
}

.menu-list__link_current {
  position: relative;
  color: var(--accent-color);
}
.menu-list__link_current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contaсts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: #757575;
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin: 0 auto 30px auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-color);
}

.hero__button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

.benefits-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.benefits-list__item {
  width: 270px;
}
.benefits-list__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.benefits-list__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}

.benefits-list__icon {
  width: 70px;
  height: 70px;
}

.benefits-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section__no-padding-top {
  padding-top: 0;
}

.occupation-list {
  display: flex;
}

.occupation-list__item:not(:last-child) {
  margin-right: 30px;
}

.occupation-list__container {
  position: relative;
}

.occupation-list__text {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team-section {
  background-color: #F5F4FA;
}

.team-list {
  display: flex;
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--secondary-color);
}

.team-list__text {
  margin-bottom: 16px;
}

.team-list__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-color);
}
.team-list__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-list__text-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title,
.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list__item {
  width: 170px;
  height: 92px;
}
.clients-list__item:not(:nth-child(6n)) {
  margin-right: 30px;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list__logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__logo, .clients-list__link:focus .clients-list__logo {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.container-flex {
  display: flex;
  align-items: baseline;
}

.footer-left-side {
  flex-grow: 1;
  margin-right: 70px;
}

.logo__studio {
  color: var(--bg-color);
}

.footer-title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color);
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-adress-item {
  display: flex;
}

.filter-menu {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-menu__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: #F5F4FA;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-menu__button:hover, .filter-menu__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.filter-menu__item:not(:last-child) {
  margin-right: 8px;
}

.page-navigation {
  display: flex;
  margin-left: 93px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__item {
  width: calc((100% - 60px) / 3);
}
.portfolio-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-list__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.portfolio {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio:hover, .portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__container {
  position: relative;
  overflow: hidden;
}
.portfolio__container::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio:hover .portfolio__container::before, .portfolio:focus .portfolio__container::before {
  transform: translateY(0);
}

.portfolio__hover-text {
  position: absolute;
  bottom: -100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--bg-color);
  transition: bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio:hover .portfolio__hover-text, .portfolio:focus .portfolio__hover-text {
  bottom: 0;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.portfolio__text-container {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.footer-right-side {
  margin-right: 93px;
}

.socials__footer-icon {
  fill: var(--bg-color);
}

.footer-subcribe-form {
  display: flex;
  align-items: center;
}

.footer-subcribe__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--bg-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.footer-subcribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe__button {
  min-width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  transition: background-color var(--transition-data);
}
.footer-subscribe__button:hover, .footer-subscribe__button:focus {
  background-color: #188CE8;
}

.footer-subscribe-button-icon {
  margin-left: 10px;
}

.contacts {
  font-style: normal;
  margin-top: 20px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__link-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link-footer:hover, .contacts__link-footer:focus {
  color: var(--accent-color);
}

.post-adres {
  color: var(--bg-color);
  font-style: normal;
}/*# sourceMappingURL=main.css.map */