.benefits-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
}

.benefits-list-item {
    width: 270px;

    &:not(:nth-child(4n)) {
    margin-right: 30px;
}
}



.benefits-list-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.benefits-list-icon {
    width: 70px;
    height: 70px;
}

.benefits-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}